<<<<<<< HEAD
=======
/*omar added*/

.buttons {
	margin-top: 25%;
}
.weather-API {
	border: solid;
}
.weather-city {
	text-align: center;
	font-size: 150%;
}
.weather-time {
	text-align: center;
}

/*............................................*/

>>>>>>> master
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-smoothing: antialiased;
	background-image: url('../images/background.jpg');
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.background {
	width: 80%;
	height: 100% !important;
	min-height: 968px !important;
	margin: 0 auto 0;
	background-color: white;
}
.login-background, .signup-background {
	width: 80%;
	height: 100% !important;
	min-height: 968px !important;
	margin: 0 auto;
	background-color: white;
	text-align: center;
}
.container-space {
	margin-top: 70px;
}
.destination-space {
	margin-top: 150px;
	font-size: 20px;
}
.header {
	margin: 70px auto;
	width: 75%;
	min-height: 300px;
	background-color: white;
	font-size: 50px;
	text-align: center;
}
.page-footer {
	margin-top: 0 !important;
	bottom: 0 !important;
}
.experience {
	color: orange;
	font-size: 55px;
	font-weight: bold;
}
.text {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 30px;
}
#search-bar {
	border: 1px solid #ccc !important;
	position: static !important;
	border-radius: 5px;
	height: 70px;
	font-size: 20px !important;
}
.navigation-bar {
	margin: 0 auto;
	width: 100%;
	min-width: 640px;
	height: 50px;
	border-bottom: 1px solid #ccc;
	position: fixed;
	z-index: 100000;
}
.logo {
	width: 144px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}
.modal-logo {
	width: 300px;
	height: 63px;
	margin-bottom: 20px;
}
.nav-logo {
	height: 40px;
	margin-top: 5px;
	background-color: white;
}
.faq-logo {
	height: 40px;
	margin-top: 5px;
	background-color: white;
	margin-left: -30px;
}
.placeholder {
	margin: -80px auto !important;
	text-align: center;
	width: 85%;
}
#home, #log-in, #sign-up, #search-button, #results-page, #faq, #nav-toggle, #results-page {
	float: right;
	line-height: 20px;
	height: 50px;
	width: 120px;
	padding: 15px;
	border-left: 1px solid #ccc;
	text-align: center;
	-o-transition: .7s;
	-ms-transition: .7s;
	-moz-transition: .7s;
	-webkit-transition: .7s;
	transition: .7s;
}
#nav-toggle {
	display: none;
}
#nav-toggle {
	display: none;
}
#logInButton, #signUpButton, #submit, #add-user-input {
	width: 95%;
	text-align: center;
	background-color: orange;
	border: none;
	border-radius: 10px;
	color: white;
	height: 40px;
}
#log-in:hover, #sign-up:hover, #faq:hover, #nav-toggle:hover, #results-page:hover {
	background-color: #ddd;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	min-height: 100% !important;
	overflow: visible !important;
	background-color: rgb(0, 0, 0)!important;
	background-color: rgba(0, 0, 0, 0.4)!important;
}
.modal-content {
	background-color: #ffffff;
	margin: 100px auto;
	width: 25%;
	height: 70%;
	text-align: center;
	min-width: 360px;
}
.signup-content {
	background-color: #ffffff;
	margin: 50px auto;
	width: 25%;
	height: 70%;
	min-height: 500px;
	text-align: center;
	min-width: 360px;
	padding: 30px;
}
.sideModal {
	display: none;
	position: fixed;
	z-index: 10;
	right: 0;
	width: 100% !important;
	height: 100% !important;
	min-height: 100% !important;
	overflow: visible !important;
}
.topModal {
	display: none;
	position: fixed;
	z-index: 10;
	right: 0;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	min-height: 100% !important;
	overflow: visible !important;
}
.faq-content {
	background-color: #fff;
	float: right;
	right: 0;
	z-index: 1;
	padding: 10px 40px 40px 40px;
	width: 30%;
	height: 100%;
	text-align: left;
	border-left: 1px solid #ccc;
	overflow: scroll !important;
}
.nav-content {
	background-color: #fff;
	top: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
	min-width: 360px;
}
#close {
	border-bottom: 1px solid #ccc !important;
}
#toggle, #close {
	width: 100%;
	height: 50px;
	line-height: 30px;
	text-align: center;
	background-color: white;
	padding: 10px;
	font-size: 15px;
	border-top: 1px solid #ccc;
}
#close:hover, #toggle:hover {
	background-color: #ccc;
	color: white;
	border: 1px solid #ccc;
}
ul li {
	list-style-type: disc !important;
	list-style-position: outside !important;
}
input {
	border: 1px solid black !important;
	padding-left: 5px !important;
	width: 90% !important;
	padding-bottom: 0;
}
a {
	color: black !important;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#slideshow {
	margin: -60px auto;
	position: relative;
	width: 95%;
	text-align: center;
}
#slideshow>div {
	position: absolute;
}
#slideImages {
	width: 100%;
}
#icon {
	width: 40px;
	height: 40px;
	margin: 2px;
}
.toggle {
	display: none;
}
@media screen and (max-width: 640px) and (min-width: 0px) {
	#log-in, #sign-up, #faq, #results-page {
		display: none;
	}
	#nav-toggle {
		display: inline;
	}
	/* Modal Content */
	.modal-content {
		background-color: #fff;
		margin: 100px auto;
		padding: 20px;
		width: 25%;
		height: 70%;
		text-align: center;
		min-width: 360px;
	}
	.navigation-bar {
		min-width: 320px;
	}
	.header {
		font-size: 35px;
		padding-right: 0px;
		text-align: center;
		margin-bottom: 80px !important;
	}
	.background {
		width: 100%;
	}
	.login-background, .signup-background {
		width: 100%;
	}
	#log-in, #sign-up, #results-page, #faq {
		display: none;
	}
	#nav-toggle {
		display: inline;
	}
	.navigation-bar {
		min-width: 320px;
	}
}

/*Map Styling*/


/************************************************************/
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
#inputs,
#errors,
#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}

#inputs {
    z-index: 10;
    top: 10px;
    left: 10px;
}

#directions {
    z-index: 99;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#errors {
<<<<<<< HEAD
	z-index: 8;
	opacity: 0;
	padding: 10px;
	border-radius: 0 0 3px 3px;
	background: rgba(0, 0, 0, .25);
	top: 90px;
	left: 10px;
}

=======
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}
>>>>>>> 5066bc40ca9e2399be6251ce8645835ff5f9e9c2
